.wd-kanbas-nagivation {
  /* background-color: black; */
  list-style: none;
  padding: 0px;
  width: 80px;
  margin: 0px;
  height: fixed;
}

.wd-kanbas-nagivation li {
  padding: 10px;
  font-size: 0.8em;
  /* margin-bottom: 10px; */
  text-align: center;
}

.wd-kanbas-nagivation li.wd-active {
  background-color: white;
}

.wd-kanbas-nagivation li.wd-active a {
  color: red;
}
.wd-kanbas-nagivation li a {
  color: white;
  text-decoration: none;
  margin-bottom: 5px;
  /* padding: 5px; */
}

.wd-kanbas-nagivation a i {
  color: red;
  font-size: 2em;
  /* margin-bottom: 5px; */
  align-content: center;
}

.wd-kanbas-nagivation a i.icon-account {
  color: grey;
}

/* .sidebar {
  height: 100vh;
} */
